.section-skills{
  height: 1200px;
  background-color: #1f1f1f;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 70px 46px -50px rgba(0, 0, 0, 0.158);
}
.section-skills-content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem; 
    width: min(90%, 1440px);
}

.box {
  background-color: #2b2b2b;
  color: white;
  text-align: center;
  border-radius: 5%;
  width: 300px;
  height: 300px;
  display: grid;
  place-items: center;
  transition: .3s ease;
}
.box:hover{
  background-color: #222222;
  cursor: pointer;
}
.box img{
  height: 100px;
}
.first{
  grid-template-columns: repeat(4, 1fr);
}
.third{
  grid-template-columns: repeat(2, 1fr);
}
.first, .second, .third{
display: flex;
    justify-content: center; 
    align-items: center;
    gap: 2rem;
}
